<% provide(:title, 'The shop') %>
<div  class="centerdiv">
  <h1>Welcome to  the Shop</h1>

  <h2>
    This is the best app!
  </h2>

   <%= link_to "Sign up!", new_user_path, class: "btn btn-large btn-primary" %>
</div>

