<div class="centerdiv">

<p >
<strong>Name</strong>
  <%= @user.name %>
</p>

<p >
<strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-large btn-primary"%> 

</div>
