@import "bootstrap";

table {

  
  text-align: center;
  width: 400px;

}
body {

  padding-top: 60px;
}

h1 {  
  text-align: center;
  font-size: 400%;
  font-weight: bold;
}
#tr1 {
  font-size: 200%
}

#tr2 {
  font-size: 125%
}
#div1 {
  bottom: 400px
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}