<% provide(:title, @category.name) %>

<h1> <%= @category.name %></h1>

    <% if @category.goods.any? %>
     	<h3>Goods (<%= @category.goods.count %>)</h3>
    <% else %>
     	<h3>Goods (0)</h3>
     <% end %>
      <table align="center">
      	<tr>
      		<th>Name</th>
      		<th>Price</th>
      	</tr>
      	<% @category.goods.collect.each do |goods| %>
      	<tr>
      		<td><%= goods.name %></td>
      		<td><%= goods.price %></td>
      	</tr>
      	<% end %>
      </table>     
    
